.contener {
    display: grid;
    grid-template-columns: 7vw 30vw 13vw 1fr;
    margin: 2rem 0;
}

.btn {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #245;
    transition: .4s;
    border: #245 solid 1px;
}

    .btn:hover {
        color: #245;
        background-color: #fff;
    }

.vote {
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    color: #245;
    border: none;
    padding
}

    .vote:hover {
        background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
        color: #ffffbb;
    }

@media screen and (min-width: 1000px) {
    header {
        height: 100vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .orgtitle {
        font-size: 3rem;
        margin-bottom: 0;
        border-bottom: #245 solid 2px;
    }

    .orgsubtitle {
        font-size: 1.5rem;
        margin-top: 0;
    }

    button {
        border: none;
        background-color: rgba(0,0,0,0);
    }

    .poster {
        display: flex;
        justify-content: center;
    }

    .posterimg {
        height: 75vh;
    }

    .poster div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.icon {
    height: 1em;
}

.section_title {
    font-size: 1.5rem;
    width: 30vw;
    margin-bottom: 0;
    border-bottom: #245 solid 1px;
}

.section_subtitle {
    margin-top: 0;
}

.videocontener {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.video {
    max-height: 500px;
    height: 25ch;
}

.halfblank {
    display: inline-block;
    width: .5em;
}

.atlas * {
    width: 40vw;
}

.contein {
    width: 30vw;
}

.detail {
    margin-left: 7vw;
}

.commentbox {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
    width: 3;
}

.text {
    grid-column: 2 / 3;
}

.btns {
    width: 100%;
    grid-column: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

    .btns .btn {
        width: 30vw;
    }

    .btns p {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

.commentbox .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}

.commentbox p {
    margin: 0;
    padding: 0;
}

.grid-contener {
    display: grid;
    grid-template-columns: 7vw 30vw 13vw 1fr;
}

.sectitles {
    grid-column: 2/3;
}

.content {
    grid-column: 4/5;
    display: flex;
    justify-content: space-around;
}

main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
