<main class="loader">
    <div class="loader-wrap">
        <div class="loader">
            <div class="circle-1 circle">
                <div class="circle-2 circle">
                    <div class="circle-3 circle">
                        <div class="circle-4 circle">
                        </div>
                    </div>
                </div>
            </div>
            <p class="loading-text">
                <span>L</span>
                <span>O</span>
                <span>A</span>
                <span>D</span>
                <span>I</span>
                <span>N</span>
                <span>G</span> ...
            </p>
        </div>
    </div>
</main>

