@inherits LayoutComponentBase

@inject IJSRuntime js

<div class="page">
    <main>
        @if (inCommite)
        {
            <div class="top-bar">
                <NavMenu />
            </div>
            <article class="content">
                @Body
            </article>
            <div class="bottom-bar">
                <section class="madeby">
                    <h1>芝浦工業大学柏中学高等学校</h1>
                    <p>制作：2022 文化祭実行委員会</p>
                    <p>Shibaura Institute of Technology <wbr/>Kashiwa Junior & Senior High School</p>
                    <p>© masuofes commite all reserved </p>
                </section>
                <section class="link">
                    <a href="https://twitter.com/masuofes_sns"><img src="./img/icon/Twitter_icon.png" /></a>
                    <a href="https://www.instagram.com/masuofes_sns/?r=nametag"><img src="./img/icon/Insta_icon.png" /></a>
                    <a href="https://www.youtube.com/channel/UCKKOdv1HaQ2MqT3pCH-3qbA"><img src="./img/icon/youtube.svg" /></a>
                </section>
            </div>
        }
        else
        {
            @Body
        }
    </main>
</div>

@code{
    public bool inCommite = true;
    protected override async Task OnInitializedAsync() {
        var a = await js.InvokeAsync<string>("Org");
        if(a == "commite")
        {
            inCommite = true;
        }
    }
}