@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-bar">
            <NavMenu />
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
