<header class="header">
    <div class="navtext-container">
      <div class="navtext">Masuofes</div>
    </div>
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
    <ul class="menu">
      <li class="top"><a href="#home">home</a></li>
      <li><a href="/404">団体情報</a></li>
      <li><a href="/404">フロアマップ</a></li>
      <li><a href="/404">スケジュール</a></li>
      <li><a href="/404">オンラインコンテンツ</a></li>
      <li><a href="/404">フォト</a></li>
      <li><a href="/404 ">来校者向け諸注意</a></li>
      <li><a href="/html/Test.html">Test</a></li>
    </ul>

  </header>