@page "/howtouse"
<h3>アプリ化ガイダンス</h3>
1.スマホで<a href="https://masuosai.com/">https://masuosai.com/</a> にアクセスします。<br />
2.下の方にホーム画面に「ホーム画面に　増尾祭2022　を追加」と出ますのでそれを押してください<br />
3.次の箇所で [追加] を押します。<br/>
4.ホーム画面より、「増尾祭2022」を押し、ご参加ください。
