@page "/attention"
<main class="votecontener">
    <section class="contein">
        <h1>ご来校にあたっての諸注意</h1>
        <div class="btns">
                <p>今回は、時間帯を指定した2時間の入れ替え制となります。<br><b>事前にご応募された各時間枠にのみご参加いただけます。</b></p>
                <p>今後の感染状況の変化により、開催形態が見直される場合がございます。</p>
                <p>校内でのお食事（軽食含む）の可否は下記の通りとなります。ご了承ください</p>
                <p>お支払いは全面交通系ICカードのみとさせていただきます。<br>ご来場前にチャージをしていただきますようお願いいたします。<br>尚、カフェテリア・PTAバザーのみ現金での取り扱いとなりますので</p>
                <p>保護者の皆様には事前に入場券代わりとなる<br>リストバンドまたはシールを配布いたします。<br>当日忘れないようお願いいたします。</p>
        </div>
    </section>
</main>
