@page "/Bus"

<main>
    <h1>交通アクセス</h1>
    <h2>所要時間</h2>
    <p>
        新柏駅<span class="closes">(東武アーバンパークライン(野田線))</span>まで、スクールバスで約5分・徒歩25分<br>
        柏駅<span class="closes">(JR・東武アーバンパークライン)</span>まで、スクールバスで約15分<br>
    </p>
    <h2>バスダイヤ</h2>
    <img src="#" style="width:100%;"><!--#にバスダイヤの画像を挿入してください-->
</main>