@page "/"

<div class="header">
    <div class="header_inner">
        <h1>青瞬</h1>
        <hr />
        <p>Ths page is Demo home page of "bluem of youth"</p>
    </div>
</div>
<section>
    <h2>はじめに</h2>
    なんか書く。
</section>

<section>
    <h2>来場者の皆様へ</h2>
    なんか書く。
</section>

<section>
    <h2>Exhibition</h2>
    なんか書く。
</section>

<section>
    <h2>Perfomance</h2>
    なんか書く。
</section>

<section>
    <h2>Map</h2>
    なんか書く。
</section>