.btn {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #245;
    transition: .4s;
    border: #245 solid 1px;
}

.btn:hover {
    color: #245;
    background-color: #fff;
}

.chose{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    width: 100px;
    background: #fff;
    width: 50vw;
    padding: 2rem;
    border-radius: 2rem;
}

.title{
    text-align: center;
}

.contener{
    display: flex;
    justify-content: space-around;
}
.vote{
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.choosen{
    text-align: center;
}

.choosen img{
    height: 10vh;
}
.halfblank{
    display: inline-block;
    width: .5em;
}