@using Bloom.Shared
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text
@using System.IO
@using System.Xml.Serialization
@using Bloom.Client

@page "/Company/{paramstr}"

<h3>index</h3>

@code {

}
