.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
}

.navbar-brand {
    font-size: 1.1rem;
}

.nav-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-link {
    color: var(--bs-gray-dark);
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.login {
    line-height: 5vh;
}

@media(min-width:641px) {
    .navbar {
        display: none;
    }
    .collapse {
        display: block;
    }

    .nav-item {
        line-height: 5vh;
    }

    .nav-link{
        padding:0;
    }
}

@media(max-width:640px) {
    .navbar {
        display: block;
    }

    .collapse {
        display: none;
    }

    .nav {
        position: fixed;
        top: 5vh;
        width: 100vw;
        left:0;
        background-color: var(--bs-gray-100);
        z-index: 100;
    }

    .nav-menu {
        display: block;
    }

    .nav-menu > * {
        margin: 5%;
        text-align:center;
    }
    .navbar-toggler{
        margin-left:-1.5rem;
    }
}