<h3>Opps!</h3>

It is not there or It is being made.<br/>
Please check URL,or wait a few.

Error title : @Errortitle
Error message : @Errormessage

@code{
    [Parameter]
    public string Errormessage { get; set; }
    [Parameter]
    public string Errortitle { get; set; }
}