@page "/"
@inject IJSRuntime JS
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<button @onclick="GetSomeTaskAsync">Button1</button>
<iframe name="iframe" src="http://A.com/index.html" style="height:0"></iframe>
@a

@code{
    string result;
    string a;
    public async Task GetSomeTaskAsync(){
        string[] arry = new string[] { "Test", "Test", "", "localhost" };
        await JS.InvokeVoidAsync("ifream",new string[] {Guid.NewGuid().ToString("N") });
        var a = await JS.InvokeAsync<string>("TrySet",arry);
        if(a  == "")
        {
            Console.WriteLine("Error! Cannot set it.");
        }
        a = await JS.InvokeAsync<string>("GetValue",new string[] { "Test", "500"});
        result = await JS.InvokeAsync<string>("Login", null);
    }
}